nav{
    background-color:rgb(60, 221, 101);
    text-align: center;
    border-style: double;
}
        nav a{ 
       
        color: #000000;                 
        opacity: 85%; 
        display: inline;
        margin: 0px;   
        padding: 16px;  
        display: inline-block;  

}
body{
background-color: wheat;
background-size: 100%;
max-width: 100%;
}

h1{
    text-align: center;
    border-style: solid;
    background-color: rgb(57, 241, 57);
    opacity: 85%;
    letter-spacing: 15px;
}
.map{
    max-width:100%;
    border:2px solid rgb(0, 0, 0);
    margin-left: 200px;
    margin-right: 200px;
}
.googlemap{
    width: 100%;   
}
h3{
    text-align-last:center;
   font-family:'Courier New', Courier, monospace;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 600px;
    margin-right: 600px;
    border-style: double; 
    background-color: burlywood;

}

h4{
    text-align-last:center;
   font-family:'Courier New', Courier, monospace;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 600px;
    margin-right: 600px;
    border-style: double; 
    background-color: rgb(177, 243, 72);


}